.off-white {
background-color: #F9FAFB;
}

.tangerine {
    background-color: #EBA862;
    }

.turquoise {
    background-color: #8DCAD0;
    }

.light-blue {
    background-color: #70ADB0;
    }

.charcoal {
    background-color: #444448;
    }

body{
    background-color: #EBA862;
}
.jumbotron {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(extras-img/Paul-groovy-colors.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 2%;
    height: 30em;
}

